.light{
  /* Main theme colors */
  --bg: #ffffff;  /* White for main content */
  --bg-2: #ab6ac9;  /* Light purple for header and player */
  --bg-hover: #ab6ac9;  /* Same as bg-2 for hover states */
  --text-color: #1d1c1c;  /* Black text for main content */
  --text-color-inverse: #ffffff;  /* White text for header and player */
  
  /* Scroll bar colors */
  --scroll-thumb: #ab6ac9;  /* Purple scroll thumb */
  --scroll-track: #f2f0ef;  /* Light grey scroll track */
}

.dark{
  /* Main theme colors */
  --bg: #1d1c1c;  /* Dark blackish for main content */
  --bg-2: #2e2c2c;  /* Light blackish for header and player */
  --bg-hover: #2e2c2c;  /* Same as bg-2 for hover states */
  --text-color: #f2f0ef;  /* White text for main content */
  --text-color-inverse: #f2f0ef;  /* White text for header and player */
  
  /* Scroll bar colors */
  --scroll-thumb: #ab6ac9;  /* Purple scroll thumb */
  --scroll-track: #1d1c1c;  /* Dark grey scroll track */
}